<body>
Provides classes and interface which for interface based access to Java's reference classes. The reason for the creation
of these classes is to have one standardized Reference interface which fulfils indirect access to an object.
<p>
In this package all classes but the <code>StrongReference</code> class extend java's library and function as masker classes.</p>
<p>
<hr>
This package is verified, validated and certified according to the VV&C procedure described 
at <a href="http://sk.tbm.tudelft.nl:8080/jahia/Jahia/pid/44">http://sk.tbm.tudelft.nl:8080/jahia/Jahia/pid/44</a>
<hr>
</p>
</body>
