<body>
Provides classes for a File and JVM implementation of Java's JNDI interfaces.
<p>
<hr>
This package has not been verified, validated and certified according to the VV&C procedure described 
at <a href="http://sk.tbm.tudelft.nl:8080/jahia/Jahia/pid/44">http://sk.tbm.tudelft.nl:8080/jahia/Jahia/pid/44</a>
<hr>
</p>
</body>