<body>
Provides an extension to Java's collection library. The classes in this package provide subscription mechanisms for entry changes in collections, lists, etc. 
<p>
<hr>
This package has been verified, validated and certified according to the VV&C procedure described 
at <a href="http://sk.tbm.tudelft.nl:8080/jahia/Jahia/pid/44">http://sk.tbm.tudelft.nl:8080/jahia/Jahia/pid/44</a>
<hr>
</p>
</body>
