<body>
Provides classes and interfaces for asynchronous communication.
<p>
The event package is designed around three interfaces:
<ul type="circle">
	<li> The EventListenerInterface defining callback mechamism for a listener.
	<li> The EventProducerInterface defining registration capabilities.
	<li> The EventInterface defining the events which are send by a producer and received by a listener. 
</ul>
In this package, two aspects are of crucial importance. Operations defined in the interfaces throw a <code>RemoteException</code>. This makes
the interfaces suitable for distributed deployment. The second aspect is concurrency. The classes providing a reference implementation of these
interfaces are designed for multi threaded deployment.
</p>
<p>
<hr>
This package has been verified, validated and certified according to the VV&C procedure described 
at <a href="http://sk.tbm.tudelft.nl:8080/jahia/Jahia/pid/44">http://sk.tbm.tudelft.nl:8080/jahia/Jahia/pid/44</a>
<hr>
</p>
</body>